<app-header></app-header>
<main class="main">
  <ul id="users">

    @for (user of users; track user.id){
      <li>
        <app-user
          [user]="user"
          (select)="onSelectUser($event)">

        </app-user>
      </li>
    }

  </ul>
  @if (selectedUser){
  <app-tasks [id]="selectedUser.id" [name]="selectedUser.name"/>
  }@else{
    <p id="fallback">Selecione um usuário</p>
  }
</main>

<router-outlet/>


















































































































































































































































































